@page "/info"

<PageTitle>info</PageTitle>

<h1>Informations</h1>

This converter is a personal project to discover Blazor Web assembly.

You can find the source code on GitHub: <a href="https://github.com/ThomasHidrot/guid-converter">https://github.com/ThomasHidrot/guid-converter</a>

